.modal {
  display: flex;
  align-items: center;
  gap: 6px;

  &__input {
    width: 100px;
    letter-spacing: 1.5px;
    color: #fff;
    background-color: var(--primary-color);
    border-radius: 5px;

    &::placeholder {
      font-family: inherit;
      font-weight: 500;
      letter-spacing: 1.5px;
      color: #e8e8e8;
    }
  }

  &__icon {
    font-size: 20px;
    color: var(--secondary-color);

    &--cancel {
      color: var(--red-color);
    }
  }
}
